In [11]:
#import libraries
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service 
from selenium.webdriver.chrome.options import Options

In [25]:
path=Service(r'C:\Users\Dinesh Halder\Downloads\chromedriver-win64\chromedriver.exe')
driver=webdriver.Chrome(service=path)
driver.maximize_window()

In [26]:
# empty lists
job_title=[]
company_name=[]
rating =  []         
review =[]           
exp = []      
location=[]
salary=[]
description=[]
skill=[]

In [27]:
for page in range(1,12):
    time.sleep(2)
    driver.get(f'https://www.naukri.com/data-science-jobs-{page}')
    time.sleep(3)
    all_jobs=driver.find_element(By.XPATH,"//div[@class='styles_job-listing-container__OCfZC']")
    single_job_frame=all_jobs.find_elements(By.XPATH,".//div[@class='cust-job-tuple layout-wrapper lay-2 sjw__tuple ']")
    for job in single_job_frame:
        try:
            job_title.append(job.find_element(By.XPATH,".//a[@class='title ']").text)
        except:
            job_title.append(None)
        
        
        try:
            company_name.append(job.find_element(By.XPATH,".//a[@class=' comp-name mw-25']").text)
        except:
            company_name.append(None)
              
                
        try:
            rating.append(job.find_element(By.XPATH,".//span[@class='main-2']").text)
        except:
            rating.append(None)    
        
        try:
            review.append(job.find_element(By.XPATH,".//a[@class='review ver-line']").text)
        except:
            review.append(None)
            
        try:
            exp.append(job.find_element(By.XPATH,".//span[@class='exp-wrap']").text)
        except:
            exp.append(None)
            
        try:
            location.append(job.find_element(By.XPATH,".//span[@class='ni-job-tuple-icon ni-job-tuple-icon-srp-location loc']").text)
        except:
            location.append(None)
        
        try:
            salary.append(job.find_element(By.XPATH,".//span[@class='ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal']").text)
        except:
            salary.append(None)
        
        try:
            description.append(job.find_element(By.XPATH,".//div[@class=' row4']").text)
        except:
            description.append(None)
        
        try:
            skill.append(job.find_element(By.XPATH,".//div[@class=' row5']").text.split())  
        except:
            skill.append(None)
            
            
driver.quit()

In [28]:
df=pd.DataFrame({'Title':job_title,'Company':company_name,'Rating':rating,'Review':review,'Experience':exp,'Location':location,'Salary':salary,'Description':description,'Skills':skill})

In [29]:
df

,Title,Company,Rating,Review,Experience,Location,Salary,Description,Skills
0,Data Science Analytics Sr Analyst - Data Science,Accenture,4.1,None,5-8 Yrs,Mumbai,Not disclosed,Please note that this role may require you to ...,"[Data, SciencePublishingArtificial, Intelligen..."
1,Data Science Domain Manager,Coursera,3.9,None,7-11 Yrs,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Not disclosed,"We are seeking a strategic, data-driven, and e...","[Computer, scienceContent, strategyData, analy..."
2,Data Science Analyst II Developer,None,None,None,0-5 Yrs,"Noida, Uttar Pradesh, Gurgaon/ Gurugram, Harya...",4-9 Lacs PA,"Technical expertise regarding data models, dat...","[Data, ScienceData, Science, AnalystDATAAdvanc..."
3,Senior Data Analyst (Data Science),Trigyn Technologies,3.5,None,5-10 Yrs,Remote,Not disclosed,Trigyn has a contractual opportunity for a Sen...,"[Data, ScienceData, MartArtificial, Intelligen..."
4,"SENIOR MANAGER I, DATA SCIENCE",Walmart,4.0,None,6-10 Yrs,Bangalore/Bengaluru,Not disclosed,Peer review and publish work in top tier ML / ...,"[ConsultingMachine, learningSEZData, miningCon..."
...,...,...,...,...,...,...,...,...,...
208,Data Scientist: Artificial Intelligence,IBM,4.1,None,5-7 Yrs,Bangalore/Bengaluru,Not disclosed,"In this role, you ll work in our IBM Client In...","[Data, ScienceArtificial, IntelligenceOpen, so..."
209,Data Scientist: Artificial Intelligence,IBM,4.1,None,5-7 Yrs,Bangalore/Bengaluru,Not disclosed,"In this role, you ll work in our IBM Client In...","[Data, ScienceArtificial, IntelligenceOpen, so..."
210,Data Scientist,Neostats,3.4,None,3-8 Yrs,Bangalore/Bengaluru,Not disclosed,We are looking for highly talented Data Scient...,"[Computer, scienceData, analysisSASdata, scien..."
211,Senior Data Analyst,IBM,4.1,None,2-4 Yrs,Bangalore/Bengaluru,Not disclosed,Measure performance and establish new measurem...,"[Cognosdata, visualizationSQLPythondata, scien..."
212,Data Science Document processing - NLP,Wipro,3.8,None,5-10 Yrs,"Kolkata, West Bengal, Pune, Maharashtra, Banga...",Not disclosed,Shift Good experience in NLP with understandin...,"[NLPDeep, LearningPythonData, ScienceDocuments..."

In [30]:
df.to_csv('jobs_naukri.csv',index=False)